* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
/* Styles for score and time */
.score-time  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.score-time h3 {
    font-size: 26px;
}

h1 {
    color: blue;
}
#Hello-World {
    font-style: bold;
    font-size: 60px;;
}

#game-rules {
    font-size: 40px;
}

#start-btn {
    width: 250px;
    font-size: 20px;;
}

#questions {
    
    font-size: 40px;;
}

#answers {
    width: 250px;
    font-size: 20px;;
}



#quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: green;
    max-width: 60%;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 200px;
}
/* .questions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */


/* styles for question and button */
/* .questions  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-height: 300px;
    background: yellow;
} */

/* .quiz h1 {
    margin: 25px;
}

.quiz p {
    margin: 25px;
}

.quiz button {
    margin: 15px;
    
} */



/* button {
    width: 80px;
} */